:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #E7E7E7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --main-color: #28B9B5;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;

    --ionicon-stroke-width: 32px;
    --ion-color-primary: #0fa;
    --ion-color-secondary: #fa0;
    --ion-color-tertiary: #f4a942;
    --ion-color-success: #10dc60;
    --ion-color-warning: #ffce00;
    --ion-color-danger: #f14141;
    --ion-color-light: #f4f5f8;
    --ion-color-medium: #989aa2;
    --ion-color-dark: #222428;
  }